/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 mai 2017, 20:41:00
    Author     : william
*/

@charset "utf-8";

/* -- Global -- */

a {
    text-decoration: none;
    color: black;  
}

.forum textarea {
    background-color: #c4cdd3;
}

h1 {
    text-align: center;
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}

h2 {
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
    margin-top: 20px;
    margin-bottom: 15px;  
}

/* -- body -- */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #F1F1F1 /* gris leger */
    /* background-image: url("../img/background.jpg"); */
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: 0px;
    min-height: 100%;
}

nav {
    text-align: center;
    background-color: rgb(75,91,104);
    /*background-color: #014E86;*/
    /*border-radius: 5px;*/
    width: 300px;
    overflow: hidden;
/*    min-height: -webkit-fill-available;
    position: inherit;
    float: left;*/
    /*margin-top: 10px;*/
}

nav > ul {
	padding: 0;
        margin: 0px;
        width: 300px;
        text-align: left;
        font-size: 1.5em;
        position: fixed;
}

nav a {
    /*font-size: 18px;*/
    color: #da190b;
    list-style-type: none;
    font-weight: bold;
    display: block;
    padding: 0 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

nav a:hover {
    padding-left: 60px;
    background-color: #5f6366;
    animation-duration: 0.5s;
    animation-name: menuHoverIn;
    animation-timing-function: ease;
}
nav a.out{
    animation-duration: 0.5s;
    animation-name: menuHoverOut;
    animation-timing-function: ease;
}
@keyframes menuHoverIn{
    from {
        padding-left: 50px;
        background-color: #4b5b68;
      }
      to {
        padding-left: 60px;
        background-color: #5f6366;
      }
}
@keyframes menuHoverOut{
    from {
        padding-left: 60px;
        background-color: #5f6366;
      }
    
      to {
        padding-left: 50px;
        background-color: #4b5b68;
      }
}

nav li {
    /* display: inline; */
    list-style-type: none;
    /*border-width: 0px 0px 1px 0px;*/
    /*border-bottom-color: #da190b;*/
    /*border-style: solid;*/
}



/* -- conteneur -- */
div#conteneur { 
    /* background-color: grey;/* #FFFFFF; /* blanc */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /*min-height: -webkit-fill-available;*/
	min-width: 600px;
/*    padding: 10px;*/
    /* border-radius: 10px;
    box-shadow: 1px 1px 12px #555; */
    color: black;
    /*height: -webkit-fill-available;*/
}

#titre {
    font-weight: bold;
    text-decoration: underline;    
}

/* -- entête -- */
header {
    background-color: #c4cdd3;
    height: 200px;
    min-width: 600px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(138,156,168,0.2);
    position: relative;
}
div#entete h1 {
    font-size: 48px;
    color: black;
    text-decoration: underline;
}


/* -- menu -- */
div#menu {
    float: left;
    width: 230px;
    padding: 10px; 
    position: fixed;
    color: dodgerblue;
}

div#menu a {
    font-size: 18px;
    color: black;
}

div#menu a:hover {
    color: dodgerblue;
}

div#blank50pxheight{
    height: 50px;
}

div#userInfos {
    color: white;
    height: 50px;
    position: relative;
    width: 100%;
    bottom: 0px;
    padding: 12px;
    padding-left: 80px;
    text-align: right;
    background-color: #5f6366;
    z-index: 2;
}

div#userInfos.scrolledUserInfo{
    position: fixed;
    top: 0px;
}



/* -- contenu -- */
div#contenu {
    position: relative;
    /* padding: 10px; !!! */
    flex:1;
}

div#contenu article{
    display: block;
    margin: 20px;
    margin-left: 60px;
    margin-top: 0px;
}


.pagination a {
    border: 1px solid #E3E3E3; /* gris clair */
    padding: 2px;
}

.pagination a:hover {
    background-color: #E3E3E3; /* gris clair */
}

div#specific {
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
}

#sansbord {
    border-style: none;
    border-width: 0px;
    border-color: white;
    
}

#imageVeille {
    width: 100px;
    height: 100px;
}

td, th {
    /*background-color: lightgrey;*/
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
}

table.forum td, table.forum th {
    border: none;
    border-bottom: solid 1px;
    border-color: #4B5A68;
    background-color: #c4cdd3;
    text-align: left;
    padding: 0px;
    height: 2em;
    padding: 5px;
}
table.forum.topics td{
    padding: 0px;
}

table.forum {
    width: 100%;
    padding: 0px;
    border: solid 5px;
    border-left: solid 15px;
    border-right: solid 15px;
    border-color: #c4cdd3;
}

table.forum td a {
    color: black;
    display: block;
    height: 100%;
    padding: 5px;
    padding-top: 12px;
}

table.forum.messages td img {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
}

table.forum.topics td img {
    max-width: 46px;
    max-height: 46px;
}

/* -- Video -- */
div#video {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: transparent;
}


div#ThreeLineMenu {
    position: absolute;
    /*bottom: 2px;*/
    top: 5px;
    left: 20px;
}
div#ThreeLineMenu img{
    width: 40px;
    height: 40px;
}
div#ThreeLineMenu img:hover{
    cursor: pointer;
}

/* -- Bas de page -- */
/*div#clear {
    clear:both;
}*/

div#bas {
    position: absolute;
    bottom:0px;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

/*a {
    color: black;
}*/

div#entete a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

section#image {
    padding: 10px;
    text-align: center;
}

#img_techM {
	text-align: center;
}

#logoFordRacing {
    margin-top: 10px;
}

#logoFordPerf {
    margin-top: 60px;  
}

.messageImg {
    width: 400px;
}

.iconImg {
    width: 46px;
}
